*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
    max-width: 1600px;
    width: 85%;
    margin: 0 auto;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    gap: 32px;
    padding: 34px 0;
    text-align: center;
}

.menu li{
    list-style-type: none;
}

.menu li a{
    color: #000;
    text-decoration: none;
}

.btn{
    border: none;
    background-color: #30B868;
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 4px;
    line-height: 19px;
    margin: 24px;
    cursor: pointer;
}

.btn:hover{
    background: linear-gradient( #6FDFA1, #30B868, #1E7E4A);
}

.banner-section{
    background-image: url('/assets/hero-bg.png');
    max-width: 1600px;
    width: 85%;
    margin: 0 auto;
}

.banner-content{
    padding: 115px 120px;
    text-align: center;
    justify-content: center;
}


.banner-content .btn-1{
    border: none;
    border-radius: 1000px;
}
.btn-1 p{
    color: #30B868;
    padding: 8px 12px;
}

.banner-content .banner-text{
    padding: 16px 295px;
    font-size: 35px;
    text-align: center;
    color: #FFFFFF;
    opacity: 90%;
}
.banner-content .color-green{
    color: #30B868;
}

.banner-content .banner-p{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}
.banner-content .buttons{
    padding: 32px 447px;
    display: flex;
}

.primary_btn_1{
    border: none;
    background-color: #30B868;
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 4px;
    line-height: 19px;
    margin: 24px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 251px;
    gap: 10px;
}
.primary_btn_1 img{
    width: 20px;
    height: 20px;
}
.primary_btn_1:hover{
     background: linear-gradient( #6FDFA1, #30B868, #1E7E4A);
}
.primary_btn_2{
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 4px;
    line-height: 19px;
    margin: 24px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    text-align: center;
    width: 198px;
}

.primary_btn_2:hover{
    background: #FFFFFF;
    color: #000;
}