*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

nav{
    max-width: 1600px;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    gap: 32px;
    padding: 34px 0;
    text-align: center;
}

.menu li{
    list-style-type: none;
}

.menu li a{
    color: #000;
    text-decoration: none;
}

nav .btn{
    background-color: #30B868;
    color: #FFFFFF;
    padding: 12px 16px;
    font-weight: 600;
    border: 1px solid #0000;
    border-radius: 4px;
    line-height: 19px;
    margin: 24px;
    cursor: pointer;
}

nav .btn:hover{
    background: linear-gradient( #6FDFA1, #30B868, #1E7E4A);

}